body {
  margin: 0;
  box-sizing: border-box;
  background-color: ffffff;
  height: 100vh;
  display: grid;
  grid-template-rows: 150px 1fr 50px;
}

nav {
  background-color: rgb(255, 176, 176);
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
}

.main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10vw 0 10vw;
  height: 100%;
  align-items: center;
}
.logo {
  max-width: 150px;
}
.log-in {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10vw 0 10vw;
}
.hero-section {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.hero-left {
  box-sizing: border-box;
  background-color: antiquewhite;
  width: 50%;
  height: 100%;
  padding: 10vw 4vw 0 10vw;
  align-items: center;
  justify-content: center;
}

.hero-right {
  box-sizing: border-box;
  width: 50%;
  max-width: 50%;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: #00748e;
  color: aliceblue;
  padding: 10px;
  border: 10px;
  font-size: 20px;
}

.btn:hover {
  background: #a5181c;
}

footer {
  background-color: rgb(255, 176, 176);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  font-family: sans-serif;
}

h2 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 24pt;
}
p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 24pt;
}
